# ─────────────────────────────────────────────────────
# VARIABLES DE ENTORNO - ELYSIAN AROMAS
# ─────────────────────────────────────────────────────
# Copia este archivo como .env y rellena tus valores
# El archivo .env NO se sube a Git (está en .gitignore)

# URL de tu WordPress (sin / al final)
WP_URL=https://reyes.saulpedroza.com.mx
WC_KEY=ck_d5780bddda8106de040040a6a15d2884272de4c2
WC_SECRET=cs_cd09723f0e558459a141df333cdd5236faff943b
# Opcional: si tu WordPress tiene autenticación JWT
# WP_JWT_TOKEN=tu_token_aqui

# Opcional: para revalidar contenido en modo SSR
# REVALIDATE_SECRET=una_clave_secreta_que_tu_eliges



